.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 1rem;
	background-color: #150050;
	z-index: 5;
}
.navbar a {
	color: #FDFCE5;
	font-family: sans-serif;
	font-weight: 700;
	margin-right: 2rem;
	text-decoration: none;
	padding: .6rem;
}